
packages/

CMS/bin/

CMS/obj/

CMS\.Repositories/bin/

CMS\.Repositories/obj/

CMS\.Services/bin/

CMS\.Services/obj/

\.vs/

CMS\.Login/bin/

CMS\.Login/obj/

CMS\.WCF\.Services/bin/

CMS\.WCF\.Services/obj/

CMS\.Host/bin/

CMS\.Host/obj/

CMS\.Tools/bin/

CMS\.Tools/obj/
