<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClientsService" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IClientsService" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IClientsService" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IClientsService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4200/clients/basic" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IClientsService" contract="ClientsWebService.IClientsService"
          name="BasicHttpBinding_IClientsService" />
      <endpoint address="http://localhost:4200/clients/auth" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IClientsService" contract="ClientsWebService.IClientsService"
          name="WSHttpBinding_IClientsService">
        <identity>
          <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:4201/clients/tcp" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IClientsService" contract="ClientsWebService.IClientsService"
          name="NetTcpBinding_IClientsService">
        <identity>
          <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/clients/tcp" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeBinding_IClientsService"
          contract="ClientsWebService.IClientsService" name="NetNamedPipeBinding_IClientsService">
        <identity>
          <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>