<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="CMS.MessageManager.MessageManager">
        <endpoint address="net.pipe://localhost/messages" binding="netNamedPipeBinding"
                  contract="CMS.MessageManager.IMessageManager" />
        <endpoint address="net.pipe://localhost/messages/mex" binding="mexNamedPipeBinding"
                  contract="CMS.MessageManager.IMessageManager" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IClientsService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4201/clients/auth" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IClientsService" contract="ClientsWebService.IClientsService"
        name="WSHttpBinding_IClientsService">
        <identity>
          <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/messages" binding="netNamedPipeBinding"
                contract="MessagesProxy.IMessageManager" name="NetNamedPipeBinding_IMessageManager">
        <identity>
          <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/messages/mex" binding="netNamedPipeBinding"
                contract="MessagesProxy.IMessageManager" name="MetadataExchangeNamedPipeBinding_IMessageManager1" />
    </client>
  </system.serviceModel>
</configuration>