<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientsService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IClientsService" />
                <binding name="NetNamedPipeBinding_IMessageManager" />
                <binding name="MetadataExchangeNamedPipeBinding_IMessageManager">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IClientsService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IClientsService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4201/clients/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientsService" contract="ClientsWebService.IClientsService"
                name="BasicHttpBinding_IClientsService" />
            <endpoint address="http://localhost:4201/clients/auth" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IClientsService" contract="ClientsWebService.IClientsService"
                name="WSHttpBinding_IClientsService">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:4202/clients/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IClientsService" contract="ClientsWebService.IClientsService"
                name="NetTcpBinding_IClientsService">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/clients/tcp" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IClientsService"
                contract="ClientsWebService.IClientsService" name="NetNamedPipeBinding_IClientsService">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/messages" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IMessageManager"
                contract="MessagesProxy.IMessageManager" name="NetNamedPipeBinding_IMessageManager">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/messages/mex" binding="netNamedPipeBinding"
                bindingConfiguration="MetadataExchangeNamedPipeBinding_IMessageManager"
                contract="MessagesProxy.IMessageManager" name="MetadataExchangeNamedPipeBinding_IMessageManager1" />
        </client>
    </system.serviceModel>
</configuration>