<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientsService" />
                <binding name="BasicHttpBinding_IClientsService1" />
                <binding name="BasicHttpBinding_IClientsService2" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IClientsService" />
                <binding name="NetNamedPipeBinding_IClientsService1" />
                <binding name="NetNamedPipeBinding_IClientsService2" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IClientsService" />
                <binding name="NetTcpBinding_IClientsService1" />
                <binding name="NetTcpBinding_IClientsService2" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IClientsService" />
                <binding name="WSHttpBinding_IClientsService1" />
                <binding name="WSHttpBinding_IClientsService2" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4200/clients/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientsService" contract="ClientsWebService.IClientsService"
                name="BasicHttpBinding_IClientsService" />
            <endpoint address="http://localhost:4200/clients/auth" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IClientsService" contract="ClientsWebService.IClientsService"
                name="WSHttpBinding_IClientsService">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:4201/clients/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IClientsService" contract="ClientsWebService.IClientsService"
                name="NetTcpBinding_IClientsService">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/clients/tcp" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IClientsService"
                contract="ClientsWebService.IClientsService" name="NetNamedPipeBinding_IClientsService">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4200/clients/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientsService1" contract="WcfClients.IClientsService"
                name="BasicHttpBinding_IClientsService1" />
            <endpoint address="http://localhost:4200/clients/auth" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IClientsService1" contract="WcfClients.IClientsService"
                name="WSHttpBinding_IClientsService1">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:4201/clients/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IClientsService1" contract="WcfClients.IClientsService"
                name="NetTcpBinding_IClientsService1">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/clients/tcp" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IClientsService1"
                contract="WcfClients.IClientsService" name="NetNamedPipeBinding_IClientsService1">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4200/clients/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientsService2" contract="ServiceReference1.IClientsService"
                name="BasicHttpBinding_IClientsService2" />
            <endpoint address="http://localhost:4200/clients/auth" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IClientsService2" contract="ServiceReference1.IClientsService"
                name="WSHttpBinding_IClientsService2">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:4201/clients/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IClientsService2" contract="ServiceReference1.IClientsService"
                name="NetTcpBinding_IClientsService2">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/clients/tcp" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IClientsService2"
                contract="ServiceReference1.IClientsService" name="NetNamedPipeBinding_IClientsService2">
                <identity>
                    <userPrincipalName value="SOTIRIS-HP-OMEN\Sotiris" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>