<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>


  <system.serviceModel>
    <services>
      <service name="CMS.WCF.Services.ClientsService" behaviorConfiguration="httpBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4200/clients" />
          </baseAddresses>
        </host>
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  contract="CMS.WCF.Services.Interfaces.IClientsService" />
        <endpoint address="auth"
                  binding="wsHttpBinding"
                  contract="CMS.WCF.Services.Interfaces.IClientsService" />
        <endpoint address="net.tcp://localhost:4201/clients/tcp"
                  binding="netTcpBinding"
                  contract="CMS.WCF.Services.Interfaces.IClientsService" />
        <endpoint address="net.pipe://localhost/clients/tcp"
                  binding="netNamedPipeBinding"
                  contract="CMS.WCF.Services.Interfaces.IClientsService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:4202/clients/mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="httpBehavior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>